<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Página no encontrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Error 404: Página no encontrada</h1>
    </header>

    <div>
        <p>La página que estás buscando no existe.</p>
        <p><a href="/">Volver a la página principal</a></p>
    </div>

    <footer>
        <p>{{empresa}}</p>
    </footer>
</body>
</html>
