<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!--- h1Modificar Datos del Usuario/h1 -->
    <header>
        <p>{{ saludo }} </p>
    </header>
    <form action="{{ url_for('main.save_user_changes') }}" method="POST">
         <button onclick="window.location.href='{{url_for('main.usuario')}}'">X</button>

	<h1>Actualizar nevera</h1>

        <label for="username">Nombre:</label>
        <input type="text" id="nnevera" name="nnevera" value="{{ datos[0][2] }}" required><br><br>

        <!--p>La URL generada para upload_image es: {{ url_for('main.upload_image') }}</p-->
        <a href='{{url_for('main.upload_image')}}'">Icono</a><br>
        <br>

        <button type="submit" class="btn btn-success">Guardar cambios</button>
    </form>
    
    
</body>

    <footer>
        <p>{{empresa}}</p>
    </footer>
</html>
