<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Imagen SVG</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
    <header>
        <p>{{ saludo }} </p>
    </header>
<body>

    <!-- h1>Subir Imagen SVG</h1 -->
    <form action="{{ url_for('main.upload_image') }}" method="POST" enctype="multipart/form-data">
        <button onclick="window.location.href='{{ url_for('main.edit_user') }}'">X</button>
        <h1>Subir Imagen SVG</h1>

        <input type="file" name="file" accept="image/svg+xml" required><br><br>
        <button type="submit">Subir Imagen</button>
    </form>

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}

</body>
    <footer>
        <p> {{empresa}}</p>
    </footer>



</html>
