{% extends 'core/home.html' %}
{% block title %}Lista de Alumnos{% endblock %}
{% block content %}
    <section id="students-list" class="page-section" style="background-color: #f9f9f9;">
            
     <section id="Features" class="page-section colord">
  <div class="container">
    <div class="row">
  
      {% for item in resultados %}
    <!-- item -->
    <a href="{{ url_for(item['link']) }}">
      <div class="col-md-3 text-center">
        <div class="box-item">
          <i class="circle"><img src="{{ item['imagen'] }}" alt="" /></i>
          <h3>{{ item['texto1'] }}</h3>
          <p>{{ item['texto2'] }}</p>
        </div>
      </div>
    </a>
  {% endfor %}

      

   

      <!-- item:-->
       
    </div>
  </div>
  <!--/.container-->
</section>



    </section>
{% endblock %}

