{% extends 'core/home.html' %}
{% block title %}Lista de Alumnos{% endblock %}
{% block content %}
    <section id="students-list" class="page-section" style="background-color: #f9f9f9;">
            
     <section id="Features" class="page-section colord">
  <div class="container">
    <div class="row">
      <!-- item -->
    <a href="{{ url_for('matriculas.mtrcls_inscribir')  }}">  <div class="col-md-3 text-center">
          <div class="box-item">
          <i class="circle"><img src="static/images/5.png" alt="" /></i>
        <h3>Matrículas</h3>
        <p>e inscripciones.</p>
      </div>
           </div></a>
      <!-- item: -->  <a href="{{ url_for('matriculas.mtrcls_gestion')  }}">
      <div class="col-md-3 text-center">
          <div class="box-item">
          <i class="circle"> <img src="static/images/1.png" alt="" /></i>
        <h3>Gestión</h3>
        <p>y configuraciones.</p>
      </div>
           </div></a>

      

   

      <!-- item:-->
           </div>
    </div>
  </div>
  <!--/.container-->
</section>



    </section>
{% endblock %}

