<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}B-School Free Education{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="WebThemez">

  <!-- Archivos CSS necesarios -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='font/css/font-awesome.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body>
  <header class="header">
    <div class="container">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> 
            <span class="sr-only">Toggle navigation</span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </button>
          <!-- Logo -->
          <a href="{{ url_for('core.r_portal') }}" class="navbar-brand scroll-top logo animated bounceInLeft">
            <b><i><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" /></i></b>
          </a> 
        </div>
        <!--/.navbar-header-->
        <div id="main-nav" class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="mainNav">
            <li><a href="{{url_for('core.r_portal')}}">Inicio</a></li>
            <li><a href="{{ url_for('alumnos.r_portal') }}">Alumnos</a></li>
            <li><a href="{{ url_for('grupos.r_portal') }}">Grupos</a></li>
            <li><a href="{{ url_for('colegio.r_portal') }}">Colegio</a></li>
            <!-- Menú Desplegable para Usuario -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Usuario <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{url_for('usuario.r_portal')}}">Perfil</a></li>
                <li><a href="{{url_for('usuario.r_config')}}">Configuraciones</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{url_for('usuario.r_salir') }}">Salir</a></li>
              </ul>
               

            </li>
             <li><a href="{{ url_for('sesion.login') }}">Entrar</a></li>

          </ul>

          <!-- Formulario de Búsqueda -->
          <form class="navbar-form navbar-right" role="search" action="#" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar" name="query" required>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </header>

  <main class="main-content">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <!-- Contact Us -->
        <div class="col-md-3">
          <div class="col">
            <h4>Contact us</h4>
            <ul>
              <li>1th Avenue, New York - United States</li>
              <li>Phone: +22 342 2345 345 | Fax: +22 724 2342 343 </li>
              <li>Email: <a href="mailto:info@example.com" title="Email Us">info@example.com</a></li>
              <li>Skype: <a href="skype:my.test?call" title="Skype us">my-company</a></li>
            </ul>
          </div>
        </div>

        <!-- Mailing list -->
        <div class="col-md-3">
          <div class="col">
            <h4>Mailing list</h4>
            <form class="form-inline">
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Your email address..." required>
                <span class="input-group-btn">
                  <button class="btn" type="submit">Go!</button>
                </span>
              </div>
            </form>
          </div>
        </div>

        <!-- Follow us -->
        <div class="col-md-3">
          <div class="col col-social-icons">
            <h4>Follow us</h4>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-flickr"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-skype"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>

        <!-- Latest News -->
        <div class="col-md-3">
          <div class="col">
            <h4>Latest News</h4>
            <p>
              Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat.
              <br><br>
              <a href="#" class="btn">Get More!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center"> Copyright 2014 | All Rights Reserved -- Template by -  
          <a href="http://webThemez.com"> WebThemez.com</a>
        </div>
      </div>
    </div>
  </section>

  <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>

  <!-- Archivos JS necesarios -->
  <script src="{{ url_for('static', filename='js/jquery-1.8.2.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}" type="text/javascript"></script>
  <script>
    // Verificar si estamos en la página de login y ocultar el header, footer y copyright
    if (window.location.pathname.includes("/login")) {
      // Ocultar el header
      document.querySelector("header").style.display = "none";
      
      // Ocultar el footer
      document.querySelector("footer").style.display = "none";
      
      // Ocultar el copyright
      document.querySelector(".copyright").style.display = "none";
      
      // No mostrar el console.log en la página de login
    } else {
      console.log(window.location.pathname);  // Solo se ejecutará si no estamos en la página de login
    }
  </script>
  
  
  
</body>
</html>
