<!-- perfil.html -->

{% extends 'core/home.html' %}

{% block title %}Perfil de Profesores | Colegio{% endblock %}

{% block content %}

  <section class="section profiles">
    <div class="container">
      <div class="row">
        {% for profesor in profesores %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body profile-card pt-4 text-center">
              <!-- Contenedor de Imagen y Texto Alineado Verticalmente -->
              <div class="profile-card-content">
                <!-- Imagen de Perfil -->
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Profile" class="img-circle img-responsive center-block" style="max-width: 150px; height: auto;">
        
                <!-- Nombre y Cargo -->
                <div class="profile-info">
                  <h2>{{ profesor.NOMBRES }} {{ profesor.APELLIDOS }}</h2>
                  <h3>{{ profesor.CARGO }}</h3>
                </div>
              </div>
        
              <!-- Enlaces Sociales -->
              <div class="social-links mt-2">
                <a href="#" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="#" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        

          <div class="col-md-8">
            <div class="card">
              <div class="card-body pt-3">
                <!-- Pestañas Simplificadas -->
                <ul class="nav nav-tabs" id="profileTabs{{ profesor.CC_NUMERO }}" role="tablist">
                  <li class="active"><a href="#profile-overview-{{ profesor.CC_NUMERO }}" data-toggle="tab" role="tab" aria-controls="profile-overview" aria-expanded="true">Resumen</a></li>
                  <li><a href="#profile-contact-{{ profesor.CC_NUMERO }}" data-toggle="tab" role="tab" aria-controls="profile-contact">Contacto</a></li>
                </ul>
                <div class="tab-content">
                  <!-- Resumen del Perfil -->
                  <div class="tab-pane fade in active profile-overview" id="profile-overview-{{ profesor.CC_NUMERO }}" role="tabpanel" aria-labelledby="overview-tab">
                    <h5 class="card-title">Acerca de</h5>
                    <p class="small fst-italic">{{ profesor.NOMBRES }} es un/a {{ profesor.CARGO }} con amplia experiencia en el área. <!-- Puedes personalizar este texto según tus necesidades --></p>

                    <h5 class="card-title">Detalles del Perfil</h5>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Nombre Completo</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.NOMBRES }} {{ profesor.APELLIDOS }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Cédula</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.CC_NUMERO }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Fecha de Nacimiento</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.FECHA_NAC }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Lugar de Expedición</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.LUG_EXP }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Estado Civil</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.EST_CIVIL }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Género</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.GENERO }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Dirección</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.DIRECCION }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Teléfono</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.TELEFONO }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Fecha de Vinculación</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.FEC_VINCUL }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Universidad</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.UNIVERS }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Cursos</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.CURSILLOS }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Grado Académico</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.NOM_GRADO1 }} ({{ profesor.REG_GRADO1 }})</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Escala Salarial</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.ESCAL_SE }}</div>
                    </div>

                  </div>

                  <!-- Información de Contacto -->
                  <div class="tab-pane fade profile-contact pt-3" id="profile-contact-{{ profesor.CC_NUMERO }}" role="tabpanel" aria-labelledby="contact-tab">
                    <h5 class="card-title">Información de Contacto</h5>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Teléfono</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.TELEFONO }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Email</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.email }}</div>
                    </div>

                    <div class="row">
                      <div class="col-sm-3 col-xs-5 label">Dirección</div>
                      <div class="col-sm-9 col-xs-7">{{ profesor.DIRECCION }}</div>
                    </div>
                  </div>

                </div><!-- End Tab Content -->

              </div>
            </div>
          </div>
          <hr>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
