<!-- perfil.html -->

{% extends 'core/home.html' %}

{% block title %}Perfil | Colegio{% endblock %}

{% block content %}
  <section id="hero" class="hero-section text-center d-flex align-items-center">
    <!-- Puedes añadir una imagen de fondo o contenido aquí si lo deseas -->
  </section>

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Profile" class="rounded-circle">
            <h2>nomvre</h2>
            <h3>cargo</h3>
            <div class="social-links mt-2">
              <a href="{{ user.twitter }}" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="{{ user.facebook }}" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="{{ user.instagram }}" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="{{ user.linkedin }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Resumen</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-view">Ver Perfil</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Configuración</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar Contraseña</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <!-- Resumen del Perfil -->
              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">Acerca de</h5>
                <p class="small fst-italic">#</p>

                <h5 class="card-title">Detalles del Perfil</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Nombre Completo</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Empresa</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Cargo</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">País</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Dirección</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Teléfono</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

              </div>

              <!-- Vista de Solo Lectura del Perfil -->
              <div class="tab-pane fade profile-view pt-3" id="profile-view">
                <h5 class="card-title">Perfil</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Nombre Completo</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Empresa</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Cargo</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">País</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Dirección</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Teléfono</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">#</div>
                </div>
              </div>

              
            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
