<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<header>
    <p>{{ saludo }}</p>
</header>
<body>
    <div class="login-container">
        <img src="/static/images/logo.svg" alt="Logo" class="logo">

        <form action="/verify" method="POST">
            <h1>Verificar Código</h1>

            <label for="code">Código de Verificación:</label>
            <input type="text" id="code" name="code" required><br><br>

            <button type="submit">Verificar</button>
        </form>

        <!-- Mostrar mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li style="color: {{ 'red' if category == 'danger' else 'green' }};">
                    {{ message }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>
<footer>
    {{ empresa }}
</footer>
</html>
